{% extends 'base.html' %} {% load static %} {% block title %}About - Trackify{% endblock title %} {% block head %}
    <link rel="stylesheet" href="{% static 'tracker/Styles_main.css' %}"> {% endblock head %} {% block body_class %}
    d-flex h-100 text-center text-white bg-dark{% endblock body_class %} {% block content %}
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column"> {% include 'tracker/includes/navbar.html' %}
        <main class="px-3">
            <h1 id="about-title">About</h1>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne"> What is Trackify?
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                         data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body"> Trackify is a simple web app/website to track prices of items on
                            e-commerce stores. <span
                                    class="text-danger">It currently supports bigbang.si and amazon.de!</span>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                aria-controls="flush-collapseTwo"> Why?
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                         data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body"> Online vendors REGULARLY employ various unfair pricing tactics
                            (such as increasing price before the holiday season, and then offering an artificial
                            "discount") which are more often than not harmful to YOU, the consumer. <br> This website
                            aims to combat such tactics by keeping track of daily prices.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseThree" aria-expanded="false"
                                aria-controls="flush-collapseThree"> How to use Trackify?
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                         aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body"> All you need to do get started is to paste in a link from one of
                            the supported online vendors. <br>
                            <span class="text-danger">If the item is ALREADY in the database</span> a daily price graph
                            will be shown to you. <br>
                            <span class="text-danger">If item is not in the database</span> it will be added to the
                            database and it's price will be tracked daily. Come back in a day, week, etc...To see how
                            the price changed through time.
                        </div>
                    </div>
                </div>
            </div>
        </main>
        {% include 'tracker/includes/footer.html' %} </div> {% endblock content %}